:host {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 90vh;
    .userList, .userData {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .userList {
        width: 40vh;
    }
}