@import "../../assets/scss/variables";

div {
    height: 60px;
    background-color: mat-color($color-accent, 500);
    display: flex;
    overflow: auto;

    app-navbar-item:first-of-type {
        margin-left: 25px;
        border-left: 1px solid mat-color($color-primary,500);
    }

    app-navbar-item:last-of-type {
        margin-left: auto;
        margin-right: 25px;
        border-left: 1px solid mat-color($color-primary,500);
    }
}