@import "../../../assets/scss/variables";

:host {
    text-align: center;
    div {
        height: 500px;
        width: 600px;
        border: 2px solid mat-color($color-accent,500);
        padding: 20px;
        border-radius: 20px;

        ::ng-deep .ngx-charts {
            fill: $color-text !important;
        }
    }
}