@import "../../assets/scss/variables";

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    div {
        border: 2px solid mat-color($color-accent,500);
        border-radius: 20px;
        padding: 30px;
        margin: 25px;

        h1{
            text-align: center;
        }
    }
}