@import "../../assets/scss/variables";

:host {
    width: 100vw;
    div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .item {
            margin: 15px;
        }
    }
}