:host {
    border: 2px solid rebeccapurple;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin:  5% 10% 0 10%;
    height: 80%;
    
    div {
        margin: 5% 10%;
        display: flex;
        flex-direction: column;
        overflow: auto;

        mat-form-field {
            width: 100%;
        }

        .tableContainer {
            margin: 0;
            overflow: auto;
            table {
                width: 100%;
            }
        }
    }
}