header {
    color: orange;
    height: 10vh;
    min-height: 50px;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    font-size: xx-large;   
    div{
        margin-left: 50px;
    }
}

.mainContainer {
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    .formContainer {
        padding: 50px;
        display: flex;
        flex-direction: column;
        border: 2px solid rebeccapurple;
        border-radius: 20px;
        form {
            margin-bottom: 20px;
        }
        .mat-raised-button {
            color: orange;
        }
    }
}